<!--================ Start About Us Area =================-->
<router-outlet></router-outlet>
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="assets/img/about-us.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>let’s <br>
                        Introduce about <br>
                        myself</h2>
                    <p>
                        i knoww basic programmings language and desire to learn more
                    </p>
                    <p>
                       My programing language is java javascript html css c++ c sql jquery 
                    </p>
                    <a class="primary_btn" href="assets/Cv English Europass Artur Lecini.doc"><span>Download CV</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="offset-lg-2 col-lg-4 col-md-6">
                    <div class="client-info">
                        <div class="d-flex mb-50">
                            <span class="lage"></span>
                            <span class="smll">Passion Working</span>
                        </div>
                        <div class="call-now d-flex">
                            <div>
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="ml-15">
                                <p>call us now</p>
                                <h3>068-515-8629</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Brand Area =================-->

<!--================ End About Us Area =================-->